* {
  margin: 0px;
  padding: 0px;
}
.fundo {
  background: royalblue;
  /*background: linear-gradient(45deg, black, crimson);*/
  height: 100vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#container {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 200px;
  position: relative;
  bottom: 190px;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  border-radius: 5px;
  background: #42c58a;
}
#flip div:first-child div {
  border-radius: 5px;
  background: #392552;
}
#flip div:last-child div {
  border-radius: 5px;
  background: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
.calculadora {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 20px;
}
/*Botões*/
.btn {
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
}
.btn:hover {
  background-color: black;
}
/*Botão = */
.button_1 {
  height: 80px;
  width: 48px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
}
.button_1:hover {
  background-color: black;
}
/*Botão 0 */
.button_2 {
  width: 106px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
}
.button_2:hover {
  background-color: black;
}
/*Botão . */
.button_3 {
  width: 48px;
  font-size: 25px;
  cursor: pointer;
  background-color: rgb(31, 31, 31);
  border: none;
  color: #fff;
}
.button_3:hover {
  background-color: black;
}
#resultado {
  background-color: white;
  width: 199px;
  height: 30px;
  margin: 5px;
  font-size: 25px;
  color: black;
  text-align: right;
  padding: 2px;
}

@media (max-width: 1024px)  {
  .calculadora {
    top: 56%;
    left: 50%;
  }
}

@media (max-width: 400px)  {
  .calculadora {
    top: 56%;
    left: 50%;
  }
}
